/* path should be set to assets in main domain folder */
@import url('https://released.info/assets/css/technology.css');

/* TOP SECTION BACKGROUND COLOR */
.released-info {
  background-color: #3a4454;
}
.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-train-station .odometer-digit {
  color: #3a4454;
}

/* TOP SECTION FONT COLOR */
.released-info,
.released-info a {
  color: #f2f2f2 !important;
}

/* BOTTOM SECTION BACKGROUND */
.posts-section,
.btn-primary {
  background-color: #6b4e71 !important;
}

/* BOTTOM SECTION FONT COLOR */
.posts-section,
.btn-primary {
  color: #f2f2f2 !important;
}

/* IMAGE */
.features-section .logo-container {
  height: 15vw;
  max-height: 200px;
  min-height: 80px;
}